@font-face {
    font-family: 'Discover Sans';
    src: url('path/to/discover-sans-regular.woff2') format('woff2'),
         url('path/to/discover-sans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Discover Sans';
    src: url('path/to/discover-sans-bold.woff2') format('woff2'),
         url('path/to/discover-sans-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Discover Sans', 'Helvetica Neue', Arial, sans-serif;
    background-color: #ffffff;
}

.ad-container {
    background-color: #ffffff;
    padding: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    position: relative;
    width: 300px;
    height: 250px;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
}

.arcs {
    position: absolute;
    top: 106%;
    left: 81%;
    width: 95%;
    height: 205%;
    transform: translate(-50%, -50%) scale(0.1); 
}

h1 {
    font-size: 33px; 
    color: #23233f;
    font-weight: 470;
    margin: 0;
    letter-spacing: 1px; 
    font-stretch: expanded;
}

h1 sup {
    font-size: 8px; 
    vertical-align: super;
}

p {
    color: #333;
    margin: 0;
    font-size: 18px; 
    letter-spacing: 0px;
}

p span {
    color: #ff6600;
    font-size: 18px; 
    letter-spacing: 0px;
}

button {
    background-color: #ec6b29;
    color: white;
    border: none;
    padding: 5px 15px; 
    cursor: pointer;
    font-size: 12px; 
    margin-top: 10px; 
    border-radius: 14px; 
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 95px; 
    height: 28px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    transform: scale(1.2); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.cashback {
    display: inline-block;
    animation: scaleUp 1s ease-in-out infinite alternate;
}

@keyframes scaleUp {
    0% {
        transform: scale(1); 
    }
    100% {
        transform: scale(1.05);
    }
}

.button-glare {
    position: absolute;
    top: 50%;
    left: -50%;
    width: 100%;
    height: 300%;
    background: rgba(255, 255, 255, 0.5);
    transform: rotate(45deg);
}

.debit-card {
    position: absolute;
    bottom: -150px; 
    right: -150px; 
    height: 250px; 
    transform: rotate(45deg); 
}

.footer-text {
    font-size: 8px; 
    line-height: 8px; 
    color: #23233f;
    font-weight: 250;
    position: absolute;
    bottom: 5px; 
    left: 15px; 
    width: calc(100% - 30px);
    text-align: left;
    letter-spacing: -0.5px;
}

.ad-content {
    opacity: 0;
    transform: translateX(100px); 
}

.ad-content.appear {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 1s ease, transform 1s ease;
}
